body{
    font-family: 'Lora', serif;
    margin: 0;
}
.orange-color{
    color: orangered;
}
section{
    display: flex;
    padding-bottom: 100px;
   
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
   text-decoration: none; 
   background-image: linear-gradient(orange,orangered);
   color: white;
   font-weight: 700;
   padding: 7px 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}