body{
    font-family: 'Lora', serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
    padding-bottom: 100px;
   
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
   text-decoration: none; 
   background-image: linear-gradient(orange,orangered);
   color: white;
   font-weight: 700;
   padding: 7px 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    
}
#web-dev{
    border-left: 10px solid;
  border-image: linear-gradient(orange,orangered);
  border-image-slice: 1;
}
#stack-dev{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
